[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
flake8 = "*"
black = "*"
autopep8 = "*"

[packages]
django = "*"
django-cors-middleware = "*"
django-extensions = "*"
djangorestframework = "*"
pyjwt = "*"
six = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
